@import url(./css-reset.css);
/****************/
/* Local Styles */
/****************/

:root {
  --masthead-background-color: hsl(4, 100%, 50%);
  --masthead__header-color: hsl(150, 50%, 100%);
}
header {
  background-color: var(--masthead-background-color);
  padding: 20px;
}
header h1 {
  color: var(--masthead__header-color);
  margin: 0;
  font-size: 2rem
}

.list-container {
  padding: 2rem;
  width: 350px;
}
.list-container-form {
  display: flex;
  justify-content: space-between;
}
input {
  flex: 1;
  margin-right: 10px;
}
.list {
  list-style: none;
  border: solid  1px #ccc;
  padding: 0;
  margin: 0;
}
.list-item {
  padding: 5px 10px;
  display: flex;
}
.list-item + .list-item {
  border-top: solid 1px #ccc;
}
.list span {
  flex: 1;
  margin-right: 10px;
}
.add-item {
  background-color: #fff;
  border: solid 1px #ccc;
  color: green;
  cursor: pointer;
  transition: all .25s ease-out;
}
.add-item:hover {
  background-color: green;
  color: #fff;
}
.delete-item {
  background-color: #fff;
  border: solid 1px red;
  color: red;
  cursor: pointer;
  transition: all .25s ease-out;
}
.delete-item:hover {
  background-color: red;
  color: #fff;
}

li.new-item {
 animation: animate-in;
 animation-duration: 1s;
 animation-timing-function: ease-out;
 animation-fill-mode: forwards;
}
li.new-item.remove-item {
  animation: animate-out;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes animate-in {
  0% {
    opacity: 0;
    height: 0;
    transform: translateX(1000px);
    background-color: #000;
    color: white;
 }
  100% {
    opacity: 1;
    transform: translateX(0);
    background-color: white;
    color: #333;
 }
}
@keyframes animate-out {
  0% {
    transform: translateX(0);
    height: 22px;
    opacity: 1;
    padding: 10px 2rem;
 }
 100% {
    transform: translateX(-1000px);
    height: 0;
    opacity: 0;
    padding: 0 2rem;
 }
}

li.new-item {
 animation: animate-in;
 animation-duration: 1s;
 animation-timing-function: ease-out;
 animation-fill-mode: forwards;
}
li.new-item.remove-item {
  animation: animate-out;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes animate-in {
  0% {
    opacity: 0;
    height: 0;
    transform: translateX(1000px);
    background-color: #000;
    color: white;
 }
  100% {
    opacity: 1;
    transform: translateX(0);
    background-color: white;
    color: #333;
 }
}
@keyframes animate-out {
  0% {
    transform: translateX(0);
    height: 22px;
    opacity: 1;
    padding: 10px 2rem;
 }
 100% {
    transform: translateX(-1000px);
    height: 0;
    opacity: 0;
    padding: 0 2rem;
 }
}
